#button-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 300px;
}
body{
    margin: 0;
    background-color: bisque;
}
#display{
    height: 100px;
}
button:hover{
    background-color:cornsilk;
}
h2{
    text-align: center;
}
p{
    background-color: white;
}
button,p{
    font-size: 50px;
}
